@import '~antd/dist/antd.css';
.wrapper_class {
  padding: 15px;
}
.header {
  min-height: 56px;
  background: #5d64c5;
  display: flex;
  padding: 0 20px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.header span a {
  cursor: pointer;
  color: #edeef9;
  padding: 12px;
}
.header .home {
  
}

.header .adduser {
margin-left: auto;
}


.demo-loadmore-list {
  min-height: 350px;
}
.list_view 
{
  padding: 15px;
}
.list_view h4 span {
  font-weight: normal;
}
.list_link {
  padding: 8px 6px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #cecdcd;
  display: block;
}
.customer_link .ant-list-item{
  padding: 0 !important;
}


.customers_loan ul {
  margin: 5px 0 0 0;
  width: 100%;
}
.customers_loan > ul li {
  width: 50%;
}

.customers_loan_block {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.customers_loan_block span {
  margin-left: auto;
  font-size: 12px;
}





.installment_summary {
  display: flex;
  align-items: center;
  width: 100%;
}
.installment_summary small {
  margin-left: auto;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
