@import '~antd/dist/antd.css';
.wrapper_class {
  padding: 15px;
}
.header {
  min-height: 56px;
  background: #5d64c5;
  display: flex;
  padding: 0;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.header span, .header span a {
  cursor: pointer;
  color: #edeef9;
  padding: 12px;
}


.header .adduser {
margin-left: auto;
}


.demo-loadmore-list {
  min-height: 350px;
}
.list_view 
{
  padding: 5px 15px;
}
.list_view h4  {
  color: rgb(29, 29, 29);
  font-size: 18px;
  margin-bottom: 0;
}
.list_view h4 span {
  font-weight: normal;
  font-size: 14px;
  color: #969696;
  text-transform: capitalize;
}
.list_link {
  padding: 8px 6px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #cecdcd;
  display: block;
}
.customer_link .ant-list-item{
  padding: 0 !important;
}


.customers_loan ul {
  margin: 5px 0 0 0;
  width: 100%;
}
.customers_loan > ul li {
  width: 50%;
}

.customers_loan_block {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.customers_loan_block span {
  margin-left: auto;
  font-size: 12px;
}





.installment_summary {
  display: flex;
  align-items: center;
  width: 100%;
}
.installment_summary small {
  margin-left: auto;
}



/* summary Table */

.summary_info
{
  display: flex;
  padding: 20px;
  background: #39409e;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.summary_info > div button {
  font-size: 12px;
  background: transparent;
  border: 1px solid #5d64c5;
  border-radius: 3px;
  padding: 7px;
  font-weight: 600;
  text-transform: uppercase;
}
.summary_info .right_action_summary {
  margin-left: auto;
}

.summaryTable {
  padding: 10px;
}

.summaryTable table {
  padding: 0;
  width: 100%;
}

.summaryTable table thead {
  padding: 0;
}

.summaryTable table thead tr th {
  padding: 5px;
  border-bottom: 1px solid #cecece;
}

.summaryTable table tbody {
  padding: 0;
}

.summaryTable table tbody tr {
  padding: 0;
}

.summaryTable table tbody tr td {
  padding: 5px;
  border: 1px solid #cecece;
  text-align: right;
}

.summaryTable table tfoot tr td {
  padding: 5px;
  font-weight: bold;
  text-align: right;
}



/* Login */

.login-form {
  max-width: 100%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.login_wraper {
  position: absolute;
    bottom: 0;
    top: 0;
    background: #fff;
    padding-top: 129px;
}